<ion-grid class="lang-selector">
    <ion-row>
        <ion-col size="5" class="lang-selector__from__coll">
            <ion-select
                    disabled
                    (ionChange)="modelChangeHandler('from', $event)"
                    [(ngModel)]="langSelector.from"
                    class="lang-selector__from">
                <ion-select-option
                        *ngFor="let langFrom of langs.translation.from"
                        [value]="langFrom.value">
                    {{langFrom.name | translate}}
                </ion-select-option>
            </ion-select>
        </ion-col>
        <ion-col size="2" class="lang-selector__icon__coll">
            <ion-button
                    (click)="swapHandler()"
                    type="block"
                    color="light">
                <ion-icon class="lang-selector__icon" name="swap"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="5" class="lang-selector__to__coll">
            <ion-select
                    disabled
                    (ionChange)="modelChangeHandler('to', $event)"
                    [(ngModel)]="langSelector.to"
                    class="lang-selector__to">
                <ion-select-option
                        *ngFor="let langTo of langs.translation.to"
                        [value]="langTo.value">
                    {{langTo.name | translate}}
                </ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
</ion-grid>
