<ion-item>
  <ion-label position="floating">{{ 'PLACEHOLDERS.NEW_OPTION_TITLE' | translate }}</ion-label>
  <ion-input
          [(ngModel)]="optionKey">
  </ion-input>
</ion-item>

<ion-button
        [disabled]="optionKey === ''"
        (click)="addOptionHandler()"
        expand="block">
  {{ 'PLACEHOLDERS.ADD_NEW_OPTION' | translate }}
</ion-button>
