
.label{
  display: flex;
  justify-content: space-between;
}
.label__text{
  padding-left: 15px;
  white-space: pre-wrap;
}
.label__actions{
  display: flex;
  align-items: center;
}
.label__actions--item{
  font-size: 32px;
  margin-left: 10px;
}
