<ion-list no-padding>
  <ion-item no-padding *ngFor="let option of (item && item.options ? item.options : [])">
    <ion-label class="label">
      <span class="label__text">{{option.key | title}}</span>

      <span class="label__actions">
        <ion-icon
                (click)="updateOptionHandler(option)"
                class="label__actions--item"
                slot="start"
                name="create"></ion-icon>
        <ion-icon
                (click)="deleteOptionHandler(option)"
                class="label__actions--item"
                slot="start"
                name="trash"></ion-icon>
      </span>
    </ion-label>
  </ion-item>
</ion-list>
