<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>{{'TABS.SETTINGS' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-content fullscreen>
            <ion-list>
                <ion-item *ngFor="let item of settingsForm">
                    <ion-label>{{item.name | translate}}</ion-label>
                    <ion-select
                            (ionChange)="settingsChangeHandler(item.settingType, $event.detail.value)"
                            *ngIf="item.type === 'select'">
                        <ion-select-option
                                [selected]="option.value === settingsItem[item.settingType]"
                                *ngFor="let option of item.options"
                                [value]="option.value">
                            {{option.name | translate}}
                        </ion-select-option>
                    </ion-select>

                    <ion-toggle
                            *ngIf="item.type === 'boolean'"
                            slot="end"
                            [checked]="item.value"
                            (ionChange)="item.value = !item.value; settingsChangeHandler(item.settingType, item.value)"
                            color="dark"></ion-toggle>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-content>
