<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-buttons class="header-end-btn" slot="end">
            <ion-badge class="save-badge"
                       [color]="
                       needSave.getValue()
                       &&
                       (langs.langSelector.from !== null && langs.langSelector.to !== null)
                       &&
                       item.name
                       &&
                       item.options.length !== 0
                       ? 'primary' : 'light'">
                <ion-icon name="save" (click)="saveTranslation()"></ion-icon>
            </ion-badge>
        </ion-buttons>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{type === 'edit' ? item.name : 'PLACEHOLDERS.NEW_TRANSLATION' | translate}}</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen>
    <app-lang-selector *ngIf="type !== 'edit'"></app-lang-selector>

    <ion-item>
        <ion-label position="floating">{{'PLACEHOLDERS.NEW_TRANSLATION_TITLE' | translate}}</ion-label>
        <ion-input
                [value]="item && item.name ? item.name : ''"
                class="text-center"
                (ionChange)="titleChangeHandler($event)">
        </ion-input>
    </ion-item>

    <br>

    <app-option-list
            [editable]="true"
            [item]="item"
            (optionUpdate)="optionsManagerHandler($event)">
    </app-option-list>

    <br>

    <app-add-option
            (newOption)="optionsManagerHandler($event)">
    </app-add-option>
</ion-content>
