<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons class="header-end-btn" slot="end">
            <ion-icon name="add" (click)="newTranslationHandler()"></ion-icon>
        </ion-buttons>

        <ion-title>{{'TABS.SEARCH' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <app-lang-selector></app-lang-selector>
    <ion-searchbar
            (ionChange)="searchInputHandler($event.detail.value)"
            animated
            placeholder="{{'PLACEHOLDERS.SEARCH' | translate}}"
            showCancelButton="never"></ion-searchbar>

      <app-translation-item-list
              [translations]="translations"
              (loadQuery)="getMoreRecordsHandler($event)">
      </app-translation-item-list>

</ion-content>
