<ion-tabs>
  <!--<ion-tab-bar slot="bottom">-->
    <!--<ion-tab-button tab="search">-->
      <!--<ion-icon name="search"></ion-icon>-->
      <!--<ion-label>{{'TABS.SEARCH' | translate}}</ion-label>-->
    <!--</ion-tab-button>-->

    <!--<ion-tab-button tab="settings">-->
      <!--<ion-icon name="cog"></ion-icon>-->
      <!--<ion-label>{{'TABS.SETTINGS' | translate}}</ion-label>-->
    <!--</ion-tab-button>-->
  <!--</ion-tab-bar>-->
</ion-tabs>
