// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

#sidebar{
  height: 100%!important;
}
.text-center{
  text-align: center;
}
.header-end-btn{
  font-size: 24px;
  margin-right: 15px;
}

.mb-15{
  margin-bottom: 15px;
}