<ion-split-pane>

  <ion-menu menuId="main-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'TABS.MENU' | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="close()" [routerLink]="['tabs', 'search']">
          <ion-icon slot="end" name="search"></ion-icon>
          <ion-label>{{'TABS.SEARCH' | translate}}</ion-label>
        </ion-item>
        <ion-item  (click)="close()" [routerLink]="['tabs', 'settings']">
          <ion-icon slot="end" name="cog"></ion-icon>
          <ion-label>{{'TABS.SETTINGS' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-split-pane>