<ion-list>
    <span *ngFor="let item of translations;  let i = index;">
        <ion-item
                no-padding
                class="item"
                (click)="openTranslation(i)">
            <div class="item__placeholder"
                 [ngClass]="{'item__placeholder--active': item.open, '': !item.open}">
            </div>
            <ion-label class="item__control__label">{{item.name | title}}</ion-label>
            <ion-button (click)="presentPopover($event, item)" color="light" slot="end">
                <ion-icon name="more"></ion-icon>
            </ion-button>

        </ion-item>
        <span class="options" *ngIf="item.open">
            <ion-list>
                <ion-item *ngFor="let option of item.options">
                    <ion-label class="option__text">{{option.key | title}}</ion-label>
                </ion-item>
            </ion-list>
        </span>
    </span>

</ion-list>

<ion-infinite-scroll (ionInfinite)="loadingHandler($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            [loadingText]=" 'PLACEHOLDERS.LOADING' | translate">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
