.rotate {
  transition: 300ms;
  -webkit-transform: rotate(90deg);
}
.rotateBack {
  transition: 300ms;
  -webkit-transform: rotate(0deg);
}

.item {}
.item__placeholder{
  position: absolute;
  transition: 300ms ease-in-out;
  height: 100%;
  width: 100%;
}

.item_ctr{
  display: flex;
}
.item_ctr__btn{
  flex-grow: 1;
}
.item_ctr__btn--red{
  color: red;

}
.item__placeholder--active{
  background-color: var(--color5);
}
.item__control{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.item__control__label{
  z-index: 1;
  padding-left: 16px;
}

.option__text{
  white-space: pre-wrap;
}
